<h1>Change Password</h1>

<form method="post" action="/users/change-password">

  <label>Enter your current password</label>
  <input type="password" name="currentPassword" placeholder="Current password">

  <label>Enter a new password</label>
  <input type="password" name="newPassword" placeholder="New password" autocomplete="new-password">

  <label>Re-type your new password</label>
  <input type="password" name="newPassword2" placeholder="Re-type new password" autocomplete="new-password">

  <input type="submit">
</form>
