<form class="create-poll" method="post" action="/poll/create">

  <label>Enter a question for this poll:</label><br>
  <input type="text" placeholder="Question" name="question">
<br><br>
<label>Enter the options for this poll:</labe>
  <br>
  <input type="text" placeholder="Option 1" name="option1"><br>
  <input type="text" placeholder="Option 2" name="option2"><br>
  <input type="text" placeholder="Option 3" name="option3"><br>
  <input type="text" placeholder="Option 4" name="option4"><br>
<br>
<input type="reset"> <input type="submit">
</form>
