
<h1>Create a Poll</h1>

<form class="form-create" method="post" action="/poll/create">

  <label>Enter a question for this poll:</label><br>
  <input type="text" placeholder="Question" name="question">
  <br>
  <label>Enter options for this poll:</label>

  <input type="button" onclick="addOption()" value="+">
  <input type="button" onclick="removeOption()" value="-">

  <input id="option1" type="text" placeholder="Option 1" name="option1">

  <input id="option2" type="text" placeholder="Option 2" name="option2">

  <input type="submit">
</form>
