
  <h1>REGISTER</h1><br>

  {{#if errors}}
    {{#each errors}}
    <div class="alert">{{msg}}</div>
    {{/each}}
  {{/if}}
<br>
  <form action="/users/register" method="post">
    <div class="reg-form-container">
      <div>
          <label>First Name</label><br>
          <input type="text" name="first" placeholder="First Name"><br>
          <label>Last Name</label><br>
          <input type="text" name="last" placeholder="Last Name"><br>
          <label>Choose a username</label><br>
          <input type="text" name="username" placeholder="Username"><br>
      </div>
      <div>
          <label>Email Address</label><br>
          <input type="email" name="email" placeholder="Email Address"><br>
          <label>Choose a password</label><br>
          <input type="password" name="password" placeholder="Password"><br>
          <label>Retype your password</label><br>
          <input type="password" name="password2" placeholder="Re-type your password"><br><br>
      </div>
    </div>
  <br><input type="submit"><br>
  </form>
