body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #000;
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin: 20px auto;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
  margin: 30px auto;
  width: 100%;
  height: 100vh;
  background: linear-gradient(orange, white);
}

form label {
  font-size: 1.5rem;
  color: gray;
  text-align: left;
  height: auto;
  width: 400px;
}

input[type="password"], input[type="text"], input[type="email"] {
  height: 40px;
  width: 400px;
  font-size: 2rem;
  padding: 0 10px;
  margin: 0 10px 10px 10px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  height: 40px;
  width: 200px;
  font-size: 20px;
  background: #595959;
  border: 0;
  color: #FFF;
  border-radius: 5px;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background: gray;
}

li {
  list-style-type: none;
}

table {
  margin: 0 auto;
}

table th {
  text-align: right;
}

table td {
  text-align: left;
}

.reg-form-container {
  margin: auto;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: rows;
  justify-content: center;
}

.alert {
  background: lightblue;
  color: red;
  border: 1px red solid;
  border-radius: 5px;
  height: autopx;
  width: 400px;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/*-----LAYOUT-----*/

.nav-bar-top {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: orange;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-bar-top ul {
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
}

.nav-bar-top li {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: inline-block;
  height: 100%
}

.nav-bar-top a {
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  padding: 10px;
}

.nav-bar-top li:hover {
  background: lightblue;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*-----INDEX PAGE-----*/

.display-polls {
  width: 50rem;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: #FFF;
}

.display-polls li {
  list-style-type: none;
  display: block;
  color: #FFF;
  padding: 5px 0;
}

.display-polls li:nth-child(even) {
  background: #ffc04c;
}

.display-polls li:nth-child(odd) {
  background: orange;
}

.display-polls li:hover {
  background: lightblue;
}

.display-polls li a {
  text-decoration: none;
  color: #FFF;
}

.title {
  font-size: 1.8rem;
  margin: 0 20px;
  padding: 0;
}

.caption {
  font-size: 1rem;
  margin: 0 20px;
  padding: 0;
}

/*-----CREATE PAGE-----*/

form {
  background: orange;
  width: 30rem;
  margin: 0 auto;
  padding: 25px 20px;
}

form label {
  margin: 10px auto auto auto;
  color: #FFF;
  margin: 10px auto;
}

form input[type="button"] {
  height: 30px;
  width: 30px;
  margin: 5px auto;
}

/*-----PROFILE PAGE-----*/

.ul-profile {
  display: grid;
  grid-template-columns: 95% 5%;
  background: orange;
}

.ul-profile li {
  display: inline-block;
}

.ul-profile li:nth-child(n) {
  background: orange;
}

.ul-profile li:nth-child(4n) {
  background-color: #ffc04c;
}

.ul-profile li:nth-child(4n-1) {
  background-color: #ffc04c;
}

.ul-profile li:hover {
  background-color: lightblue;
}

/*-----POLLS PAGE-----*/

.ul-vote li {
  margin: 5px auto;
  width: 500px;
}

#chart_div {
  margin: auto;
  width: 500px;
  height: 400px;
}

.poll-option, .poll-votes {
  margin: auto 20px;
}

/*-------CIRCLE TEXT--------*/

#circle-text {
  font-size: 5rem;
  font-family: Arial;
  color: lightblue;
  text-align: center;
  border-radius: 50%;
  border: 10px yellow solid;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
}
